
Punk.API/.idea/

Punk.API/.vs/

.DS_Store

Punk.API/Punk.sln.DotSettings.user

Punk.API/Punk.Tests/bin/

Punk.API/Punk.Tests/obj/

Punk.API/Punk.Application/bin/

Punk.API/Punk.Application/obj/

Punk.API/Punk.Common/bin/

Punk.API/Punk.Common/obj/

Punk.API/Punk.Core/obj/

Punk.API/Punk.Presentation/bin/

Punk.API/Punk.Presentation/obj/

Punk.API/Punk.Domain/bin/

Punk.API/Punk.Domain/obj/

Punk.API/Punk.Infrastructure/bin/

Punk.API/Punk.Infrastructure/Migrations/

Punk.API/Punk.Infrastructure/obj/
